<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>ATdev.std.admin.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <display-name>CURDapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchStudentController</display-name>
    <servlet-name>SearchStudentController</servlet-name>
    <servlet-class>ATdev.std.admin.controller.SearchStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentController</servlet-name>
    <url-pattern>/SearchStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>Atdev.std.admin.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletecontroller</display-name>
    <servlet-name>Deletecontroller</servlet-name>
    <servlet-class>ATdev.std.admin.controller.Deletecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletecontroller</servlet-name>
    <url-pattern>/Deletecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllController</display-name>
    <servlet-name>DisplayAllController</servlet-name>
    <servlet-class>ATdev.std.admin.controller.DisplayAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllController</servlet-name>
    <url-pattern>/DisplayAllController</url-pattern>
  </servlet-mapping>
</web-app>